apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pythonapp
  template:
    metadata:
      labels:
        app: pythonapp
    spec:
      containers:
      - name: pythonapp
        image: pritammehta/pythonapp:0  # this will be overwritten by Jenkins
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
