apiVersion: apps/v1
kind: Deployment
metadata:
  name: python-app
  labels:
    app: python-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: python-app
  template:
    metadata:
      labels:
        app: python-app
    spec:
      containers:
        - name: python-app-container
          image: pritammehta/python-app:latest  # Update if needed
          ports:
            - containerPort: 5000
          env:
            - name: APP_NAME
              value: "DevOps Python App"
            - name: APP_VERSION
              value: "1.0.0"
            - name: ENVIRONMENT
              value: "development"
            - name: PORT
              value: "5000"

---
apiVersion: v1
kind: Service
metadata:
  name: python-app-service
spec:
  selector:
    app: python-app
  type: NodePort
  ports:
    - port: 80
      targetPort: 5000
      nodePort: 30020
